*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 30px 40px 30px 40px ;
}
h1{
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
    
}
.banner{
    background-image: linear-gradient(180deg,#070211 0%,rgb(7,2,167,0.00)100%),url('images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 15px;
   
}
h5{
    padding-top: 177px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
}
.hero{
    width: 1320px;
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
.hero-text>h2{
    color: red;
    font-size: 35px;
    margin-bottom: 20px;
}
.hero{
    font-family: 'Inter',sans-serif;
    line-height: normal;
    word-spacing: 3px;
}
.hero-text>p{
    color:red;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero-text>h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero-img{

}
.banner2{
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180deg,#070211 0%,rgba(7,2,17,0.00)100%),url('images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    gap: 200px;
    
    border-radius: 15px;
}
.text-banner2>h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04;
    margin-bottom: 20px;
}
.text-banner2>p{
    color: #FFF;
    font-size: 16px;
}
.text-banner2>button{
    margin-top: 50px;
    padding: 5px;
    color: #FFF;
    background-color: rgb(19, 24, 24);
}
.address{
    width: 1320px;
    height: 482px;
    background-color: rgb(235,224,205);
    
    text-align: center;
    border-radius: 15px;
    margin-top: 50px;
    padding: 100px;
}
span{
    color:red;
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
} 
.address>p{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;

}
.address>button{
    color:white;
    background-color: red;
    padding: 7px 10px 7px 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 30px;

}

.offer-section{
    width: 1320px;
    height: 500px;
    display: grid;
    grid-template-columns: 400px 440px 400px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
    text-align: center;
    
    
}
.text-offer h4{
    color: #F00;
    font-family: 'Inter',sans-serif;
    text-transform: capitalize;
    
}
.offer-icon h4{
    color: #F00;
    font-family: 'Inter',sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}
.text-offer h2{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-offer{
    margin-top: 80px;
}
.offer-icon{
    margin-top: 80px;
}
.offer-img{
    border: 15px solid #F00;
    padding: 20px;
    border-radius: 100%;

}
.offer-icon img{
    margin-top: 30px;
}
.holiday{
    width: 1320px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.sale h6{
    font-size: 20px;
    font-family: 'Inter',sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.sale h2 ,span{
    font-size: 40px;
    margin-top: 12px;
    text-align: center;
}
.sale p{
    text-align: center;
}
.sale{
    margin-top: 50px;
    
}
.holiday-img{
    width: 1320px;
    height: 1000px;
    position: relative;
}
 .holiday-img div{
    width: 400px;
    height: 400px;
    position: absolute;
    padding-top: 40px;
}
.img4{
    height: 200px;
    bottom: 0%;
}
.img3{
    right: 27px;
}
.img2{
    left: 730px;
    top: 50px;
    z-index: 2;
}
.img1{
    z-index: 1;
    bottom: ;
}

.portfolio{
    width: 1320px;
    height: 1100px;
}
.portfolio-text h6{
    color: #F00;
font-family: 'Inter',sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio-text h2{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 15px;
}
.portfolio-text p{
    margin-bottom: 20px;
}
.portfolio-img{
    width: 424px;
    height: 430px;

}
.photo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.photo2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}
.last-section{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.wrapper{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.wrapper input{
    background: #FFF;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}
.wrapper button{
    background-color: red;
    color: #FFF;
    border-radius: 5%;
    height: 100%;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    border: 1px solid #FFF;
    right: 0;
}
.last-section{
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    text-align: center;
}
.icon-1st{
    width: 150px;
    height: 150px;
    text-align: center;
    justify-content: center;
    margin-left: 550px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.last-text h3{
    color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.wrapper{
    margin-left: 450px;
    margin-top: 30px;
}
.conteiner{
    padding-top: 50px;
}
footer{
    background-color: #070211;
    color: #FFF;
    width:1400px;
    height: 600px;
    margin-left: 0%;
    margin-top: 50px;
    padding: 70px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footer-adress{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.footer-contact{
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px
}
.footer-contact span{
    
}
#website{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
text-transform: lowercase;
margin-bottom: 5px;
}
.footer-icon{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px
}
